body {
    background-image: url("set.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: brown;
    text-align: center;
    font-size: 100px;
}

p {
    color: burlywood;
    text-align: center;
    font-size: 50px;
}